<h2>User info</h2>
<div class="profile-container">
  <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:"100x100" %>
  <table class="table">
  <tr></tr>
  <tr>
      <th>
      <div class="profile-name">name
      </th>
      <th><%= user.name %></div>
      </th>
      
  </tr>
  <tr>
      <th>
  <divclass="profile-introduction">introduction
      </th>
      <th><%= user.introduction %></div>
      </th>
  </tr>
  </table>
  </div>
  
    <p><%= link_to edit_user_path(user) do %>
   <i class="btn btn-outline-secondary btn-block fas  fa-user-cog"></i>
   <% end %></p>
   

<h4>New book</h4>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model:book,local:true do |f| %>
<p>Title</p>
 <%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<br><%= f.submit 'Create Book', class: "btn btn-success" %></br>
<% end %>