<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="row">
    <div class="col-md-3">
<%= render 'books/list', user: @user, book: @books %>
 </div>
 <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table table-hover table-inverse">
    <thead>
        <tr>
          <td>
              <span><%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback:"no_image.jpg", size:"40x40" %></span>
             <br>
              <%=link_to user_path(@user) do %>
              <p><%= @user.name %>
              <% end %>
              </p>
          </td>
          <td>
              <%=link_to book_path do %>
              <p><%= @book.title %>
              <% end %>
              </p>
          </td>
          <td>
              <p><%= @book.body %>
              <% if @user==current_user %>
              </p>
          </td>
          <td>
              <%= link_to "Edit", edit_book_path(@book),class: "btn btn-success" %>
              <%= link_to "Destroy", book_path(@book),class:"btn btn-danger", method: :delete,"data-confirm" => "本当に消しますか？" %>
               <% end %>
          </td>
          <td><% if @book.favorited_by?(current_user) %>
    <p>
      <%= link_to book_favorites_path(@book), method: :delete do %>
        ♥<%= @book.favorites.count %>
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to book_favorites_path(@book), method: :post do %>
        ♡<%=  @book.favorites.count %>
      <% end %>
    </p>
  <% end %></td>
    </tr>
    </thead>
  </table>
  <div class="comments">
<p>コメント件数：<%= @book.post_comments.count %></p>
<% @book.post_comments.each do |post_comment| %>
  
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete %>
  </div>
<% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@book, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>
</div>
</div>
</div>
</div>