<p id="notice"></p>
<div class="container px-5 px-sm-0">
    <div class="row">
    <div class="col-md-3">
<%= render 'books/list', user: @user, book: @books %>
 </div>
 <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>
<table class="table table-hover table-inverse">
    <thead>
        <tr>
          <td>
              <span><%= attachment_image_tag current_user, :profile_image, fallback:"no_image.jpg" %></span>
             <br>
              <%=link_to user_path(@user) do %>
              <p><%= @user.name %>
              <% end %>
              </p>
          </td>
          <td>
              <%=link_to book_path do %>
              <p><%= @book.title %>
              <% end %>
              </p>
          </td>
          <td>
              <p><%= @book.body %>
              <% if @user==current_user %>
              </p>
          </td>
          <td>
              <%= link_to "Edit", edit_book_path(@book),class: "btn btn-success" %>
              <%= link_to "Destroy", book_path(@book),class:"btn btn-danger", method: :delete,"data-confirm" => "本当に消しますか？" %>
               <% end %>
          </td>
    </tr>
    </thead>
  </table>
</div>
</div>
</div>